@import url('https://fonts.googleapis.com/css?family=Roboto');

.content {
  z-index: 100;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(5px, 5vw, 50px);
  padding: 10px;
  box-sizing: border-box;
}

.graphOutline {
  border: 1px #808080;
  border-radius: 8px;
}

.graph {
  flex: 0 0 calc(33.33% - clamp(5px, 5vw, 50px));
  max-width: calc(33.33% - clamp(5px, 5vw, 50px)); 
  box-sizing: border-box; 
  transition: all 0.5s ease; 
}

.metricsContainer {
  flex: 0 0 calc(33.33% - clamp(5px, 5vw, 50px));
  max-width: calc(33.33% - clamp(5px, 5vw, 50px)); 
  box-sizing: border-box; 
  transition: all 0.5s ease; 
}

.textInputContainer {
  max-width: calc(33.33% - clamp(5px, 5vw, 50px)); 
  box-sizing: border-box; 
  padding: 0px;
  transition: all 0.5s ease; 
}

.metrics > div {
  background-color: #35353500;
  padding: 15px;
  border-radius: 10px;
  margin: 5px 0;
  
}

.metrics {
  top: 17%;
  display: flex;
  align-items: flex-start;
  transition: all 0.3s ease;
  font-size: 30px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  z-index: 5;
  border-radius: 20px;

  font-family: "Roboto";
  background-image: linear-gradient(45deg, #2f2c72, #7c7ee3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.metricsContainer {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}

/* Adjust layout for small screens */
@media (max-width: 800px) {
  .content {
    gap: 20px; /* Fixed smaller gap for stacked layout */
    justify-content: center; /* Center items when stacked */
  }
  .graph,
  .metricsContainer {
    flex: 0 0 100%; /* Full width when stacked */
    max-width: 100%;
    margin-bottom: 20px; /* Add space between stacked elements */
  }
  .textInputContainer {
    margin-bottom: 20px;
  }
}